/images/
/experiment_1/runs/
/experiment_2/runs/
/experiment_1/prediction_results/
/experiment_2/prediction_results/
/experiment_3/prediction_results/
/experiment_3/runs/
/experiment_4/prediction_results/
/experiment_4/runs/
/final_models/
/work_with_results/.ipynb_checkpoints/
/arial/

